<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="skeleton" connectionString="server=localhost;database=local;integrated security=SSPI"/>
  </connectionStrings>
  <log4net>
    <appender name="Intel.Skeleton.Email" type="log4net.Appender.SmtpAppender">
      <threshold value="OFF"/>
      <subject value="Skeleton (local): ERROR"/>
    </appender>
    <appender name="Intel.Skeleton.Database" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="server=localhost;database=local;Integrated Security=SSPI"/>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Intel.Skeleton.Email"/>
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>